

.back {
    position: sticky;
    top: 9%;
    background-color: white;
}

.basket-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;

    @media (max-width:900px){
        flex-direction: column;

        .basket__summary{
            width: 90% !important;
        }

        .basket-content{
            .basket-card{
                width: 90%;
                margin:0 0 1rem 0 !important;
                flex-direction: column;
                
                .basket-image{
                    max-width: 100% !important;
                    margin-bottom: 1rem;
                }
                .basket__description{
                    &-content{
                        margin:0 0 1rem 0 !important;
                    }
                    .basket-button{
                        margin: 0 !important;
                    }
                }
            }
        }
       
    }


    .basket-content{
        .basket-card {
            display: flex;
            background-color: $light-color;
            margin: 1rem;
            padding: 1rem;

            .basket-image {
                max-width: 200px;
                img {
                    width: 100%;
                }
            }
          

            .basket__description {
                width: 100%;
                display: flex;
                flex-direction: column;

                &-content {
                    margin-left: 2rem;

                    div:not(:first-child) {
                        margin-top: 1.5rem;

                    }
                    span {
                        font-weight: bold;
                    }
                }

                .basket-button {
                    margin-top: auto;
                    display: flex;
                    justify-content: center;
                    margin-left: 1.5rem;

                    button:nth-child(2){
                        width: 100%;
                        background-color: $secondary-color;
                        color: white;

                    }
                    button {
                        cursor: pointer;
                        background-color: #cecece;
                        height: 1.5rem;
                    }
                }
            }
        }
    }

    .basket__summary{
        background-color: $light-color;
        width: 250px;
        height: 200px;
        max-height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 10%;

        span {
            font-weight: bold;
            font-size: 1rem;
        }

        .discount {
            span {
                color: $primary-color;
                font-size: 1rem;
            }
        }

        &-content {
            border-bottom: 2px solid $dark-color;
            

            div{
                display: flex;
                margin-bottom: 1rem;
                justify-content: space-between;
                font-size: 14px;
            }
        }

        .total-price {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }

        button {
            margin-top: auto;
        }
    }
}

.alert {
    background-color: $primary-color;
    padding: 1rem;
    margin: 2rem;
    color: rgb(66, 66, 66);
    font-weight: bold;
}