.header {
    position: sticky;
    top: 0;
    background-color: white;
    height: 100px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.25rem;
    .logo {
        color: $primary-color;
        font-size: 3rem;
        font-family: $font-secondary;
        span {
            color: $dark-color;
            font-size: 2.2rem;
        }
    }
    .basket {
        position: relative;
        span {
            position: absolute;
            top: 0;
            right: -5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $light-color;
        }
    }
}