.shop {
    &__header {
        width: 100%;
        border-bottom: 2px solid #c5c5c5;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 9%;
        background-color: white;
        z-index: 999;
        &.active {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                position: absolute;
                top: 30px;
                background: $light-color;
                height: 300px;
                width: 100%;
                padding: 0 !important;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                li {
                    margin-left: 0 !important;
                    button {
                        font-size: 18px;
                        color: $dark-color;
                        &:hover {
                            color: $primary-color;
                            &::after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            .hamburger {
                span {
                    transform-origin: 70% 50%;
                }
                span:nth-child(2) {
                    display: none;
                }
                span:nth-child(1) {
                    transform: rotate(-45deg);
                }
                span:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
        @media (max-width: 680px) {
            display: flex;
            justify-content: end;
        }
        .hamburger {
            display: block;
            width: 25px;
            height: 25px;
            margin-right: 2.5rem;
            cursor: pointer;
            @media (min-width: 681px) {
                display: none;
            }
            span {
                display: block;
                background-color: black;
                width: 100%;
                height: 4px;
                margin-bottom: 3px;
                transition: 300ms all ease-in-out;
            }
        }
        ul {
            height: 100%;
            display: flex;
            @media (max-width: 680px) {
                display: none;
            }
            li {
                display: flex;
                &:not(:first-child) {
                    margin-left: 5rem;
                }
                button {
                    height: 100%;
                    cursor: pointer;
                    font-size: 1rem;
                    display: block;
                    font-weight: bold;
                    transition: 200ms all ease-in-out;
                    position: relative;
                    color: $dark-color;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $secondary-color;
                        opacity: 0;
                        transition: 200ms all ease-in-out;
                    }
                    &:hover {
                        color: $secondary-color;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__content {
        width: 100%;
        padding: 5rem 0;
        .header-search {
            width: 40%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 2rem;
            margin-top: -2rem;
            input {
                width: 100%;
                height: 30px;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: $light-color;
                font-size: 0.9rem;
                padding: 0 0.8rem;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
                color: $dark-color;
                outline: none;
            }
            &__boxes {
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                min-width: 430px;
                width: 100%;
                max-height: 318px;
                overflow: auto;
                background-color: $light-color;
                border-radius: 10px;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
                padding: 1rem;
                @media (max-width: 480px) {
                    min-width: 300px !important;
                }
                .box {
                    display: flex;
                    align-items: center;
                    padding: 1rem 0;
                    @media (max-width: 1000px) {
                        flex-direction: column;
                        .item-info {
                            margin: 1rem 0;
                        }
                        .item-image {
                            img {
                                width: 100px !important;
                            }
                        }
                        .item-buttons {
                            margin-left: 0 !important;
                        }
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid $dark-color;
                    }
                    .item-image {
                        img {
                            width: 50px;
                            margin-right: 0.8rem;
                        }
                    }
                    .item-info {
                        .title {
                            font-size: 1.1rem;
                            margin-bottom: 0.3rem;
                        }
                        .price {
                            font-weight: 500;
                        }
                    }
                    .item-buttons {
                        display: flex;
                        flex-direction: column;
                        margin-left: auto;
                        button {
                            width: 100%;
                        }
                        button:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .shop-cards {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            @media (max-width: 900px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
            .shop-card {
                max-width: 300px;
                height: 600px;
                background-color: $light-color;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                .card-image {
                    max-width: 300px;
                    margin-bottom: 1rem;
                    img {
                        width: 100%;
                    }
                }
                .card-name {
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                .card-price {
                    margin-bottom: 1rem;
                }
            }
            .btn {
                margin-top: auto;
                text-align: center !important;
                font-size: 1rem;
            }
        }
    }
}